.container {
  position: relative;
  margin: 20px;
  text-align: center;
}

.container h2 {
  font-size: 2rem;
}

.container a {
  font-size: 1.4rem;
}

.seed {
	font-size: 1.2rem;
}

.address {
	font-size: 1.2rem;
}

.publicKey {
	font-size: 1.2rem;
}