/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: #000;
  background-color: #fff;
  font-family: Helvetica, Helvetica Neue, serif;
  font-size: 10px;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
