/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

html {
  height: 100%;
}

body {
  position: relative;
  color: #fff;
  height: 100%;
  font-family: Lato, Sans-serif;
  font-size: 16px;
  background: linear-gradient(97.35deg, #251b4f 0%, #684892 173.24%); 
  background-repeat: no-repeat;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  color: #fff;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
